<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
      a {
        text-decoration: none; /* Remove underline */
        color: inherit; /* Use the inherited color (usually defaults to black) */
      }
      .custom-button {
        cursor: pointer;
      }
      .thirdlayer {
        padding: 3px 10px !important;
      }
      @media screen and (max-width: 991px) {
        .logo img {
          max-width: 80px;
          height: auto;
        }
        body {
          zoom: 0.3;
        }
        select {
          appearance: none;
          -webkit-appearance: none;
          background: #fff url("./images/angle-down-solid.svg") no-repeat center
            right 2px;
          padding-right: 15px;
        }
      }
    </style>
  </head>
  <body>
    <div class="layout">
      <div class="firstlayer"></div>
      <div class="secondlayer">
        <ul class="middleul">
          <li><a>About Us </a>|</li>
          <li><a>MGM </a>|</li>
          <li><a>Tutorials </a>|</li>
          <li><a>FAQ's</a> |</li>
          <li><a>Downloads</a> |</li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="thirdlayer">
        <ul class="bottomul">
          <li><a href="/dashboard">Manage My Point </a>|</li>
          <li><a href="/child-registration">Child Registration</a> |</li>
          <li><a href="/change-password">Change Password</a> |</li>
          <li><a href="/change-pin">PIN </a>|</li>
          <li><a href="/update-profile">Update Profile</a> |</li>
          <li><a href="/drew-details"><b>Draw Details</b> </a>|</li>
          <li><a href="#">Download Patch </a>|</li>
          <li><a href="#">Play Games </a>|</li>
          <li><a href="/pin-password">Pin & Password </a>|</li>
          <li>
            <div id="logout" class="custom-button">Logout</div>
          </li>
        </ul>
      </div>
      <div class="logo">
        <img
          src="./images/top-removebg.png"
          alt="top"
          width="100px"
          height="91px"
        />
      </div>
    </div>
  </body>
</html>

<!-- JAVASCRIPT -->
<script src="/libs/jquery/jquery.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/libs/metismenu/metisMenu.min.js"></script>
<script src="/libs/simplebar/simplebar.min.js"></script>
<script src="/libs/node-waves/waves.min.js"></script>
<script src="/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

<!--Morris Chart-->
<script src="/libs/morris.js/morris.min.js"></script>
<script src="/libs/raphael/raphael.min.js"></script>

<script src="/js/pages/dashboard.init.js"></script>

<!-- App js -->
<script src="/js/app.js"></script>

<script>
  $(document).ready(function () {
    $("#logout").click(function () {
      $.ajax({
        url: "/logout", // Update with the appropriate API endpoint URL
        type: "POST",
        success: function (response) {
          console.log("res ----------------", response);
          window.location.href = "/";
        },
        error: function (error) {
          console.log("error", error);
          // window.location.href = '/';
        },
      });
      window.location.href = "/";
    });
  });
</script>
