
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="viewport" content="width=1024" />
        <title>funrep | Change Pin</title>
        <style>
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
      .dasboardContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .layout {
        display: flex;
        flex-direction: column;
        position: relative;
      }
      .firstlayer {
        background-color: black;
        height: 55px;
      }
      .secondlayer {
        background-color: #990000;
        height: 23px;
      }
      .middleul,
      .bottomul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: 100%;
      }
      .bold {
        font-weight: 700;
      }
      a {
        cursor: pointer;
      }
      .middleul li {
        list-style: none;
        font-size: 13px;
        font-weight: normal;
        color: #ffffff;
        cursor: pointer;
      }
      .thirdlayer {
        background-color: #f7b200;
        padding: 5px 10px;
      }
      .bottomul li {
        font-weight: normal;
        font-size: 13px;
        color: #320000;
        list-style: none;
      }
      .logo {
        position: absolute;
        top: 15px;
        left: 10px;
      }
      .bottomMainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        gap: 10px;
        max-width: 1100px;
      }
      .bottomtopSection {
        display: flex;
        width: 95%;
        justify-content: space-between;
      }
      .refreshbtn {
        background: #1e90ff;
        color: #fff;
        padding: 4px;
        font-size: 14px;
        outline: none;
        cursor: pointer;
        border: none;
      }
      .bottomText {
        display: flex;
        justify-content: space-between;
      }
      .bottomtopTextSection {
        width: 100%;
      }
      .bottomtopTextSection p {
        font-size: 12px;
        font-weight: normal;
        padding-top: 4px;
      }

      .highlightText {
        color: #0000ff;
        font-size: 14px !important;
      }
      .managePoint {
        display: flex;
        flex-direction: column;
        width: 632px;
        border: 1px solid #CCCCCC;
        margin: 0px 10px 10px 10px;
      }
      .managePointContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #990000;
        color: white;
        height: 25px;
        margin: 2px;
        font-size: 12px;
      }
      .managePoint form{
        width: 100%;
        background-color: #dcdcdc;
      }
      .formelement {
        display: grid;
        grid-template-columns: 106px 159px;
        gap: 10px;
        position: relative;
      }
      .formelement p {
        font-size: 13px;
        color: #666666;
        font-weight: normal;
        line-height: 10px;
        border: none;
      }
      .tableContainerform {
        display: flex;
        flex-direction: column;
        align-items:start;
        width: 50%;
        margin: auto 0px;
        padding: 15px 10px 0px 10px;
        gap: 10px;
      }
      .formelementbutton{
        display: flex;
        width: 100%;
        margin-top: 6px;
        justify-content: end;
      }
      .svgelement,.svgelementslaheye{
        position: absolute;
        right: 5px;
        top: 4px;
        cursor: pointer;
      }
      .headingpara {
        font-size: 13px;
        font-weight: 600;
      }
      #trans-msg{
        color: #990000 !important;
        display: flex;
        justify-content: start;
        width: 57%;
      }
        </style>
    </head>
    <body>
        <div class="dasboardContainer">
            <%- include('../../partials/header') %>
            <div class="bottomMainContainer">
                <div class="bottomtopSection">
                    <div class="bottomtopTextSection">
                        <p>Welcome</p>
                        <p class="highlightText" id="hightlighttext">Gift Id</p>
                        <div class="bottomText">
                            <p>
                                Your Current Balance is
                                <span class="highlightText bold" id="pin">7.00</span>
                            </p>
                        </div>
                    </div>
                </div>
                <span id="trans-msg"></span>
                <div class="managePoint" id="pointtransfer">
                    <div class="managePointContainer">
                        <p class="headingpara">Change Your Pin</p>
                    </div>
                    <form id="myForm">
                        <div class="tableContainerform">
                            <div class="formelement">
                                <p>Old Pin :</p>
                                <input type="password" name="old_pin">
                            </div>
                            <div class="formelement">
                                <p>New Pin :</p>
                                <input type="password" id="newpassword" name="pin">                
                            </div>
                            <div class="formelement">
                                <p>Confirm New Pin :</p>
                                <input type="password" name="c_pin">
                            </div>
                            <div class="formelement">
                                <p>Your Password:</p>
                                <input type="password" name="password" >
                            </div>
                            <div class="formelementbutton">
                              <button class="refreshbtn" type="submit">Change</button>
                            </div>
                            <span id="errtext" style="color: red;"></span>
                        </form>
                    </div>
                </div>
            </div>
        </body>
        <script>
          const storedUser = JSON.parse(localStorage.getItem('user'));
          const hightlighttext = document.getElementById("hightlighttext");
          hightlighttext.textContent = storedUser?.name
          const pin = document.getElementById("pin");
          pin.textContent = storedUser?.point_balance

          const hideClick = document.getElementById("hideye");
          const showClick = document.getElementById("showeye");
          const inputelment = document.getElementById("newpassword");
          let currentValue = inputelment.value;

          hideClick.addEventListener("click",()=>{
            console.log("clicck")
            inputelment.setAttribute("type","text");
            hideClick.style.display="none";
            showClick.style.display="flex";
        })
        showClick.addEventListener("click",()=>{
            console.log("cliasdasdassdcck")
            inputelment.setAttribute("type","password");
            showClick.style.display="none";
            hideClick.style.display="flex";
            // inputelment.outerHTML = inputelment.outerHTML.replace("type=\"password\"", "type=\"text\"");
            // inputelment.value = currentValue;

            // inputelment.setAttribute("type","text");
          })

        </script>
    </html>


<!-- JAVASCRIPT -->
<script src="/libs/jquery/jquery.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/libs/metismenu/metisMenu.min.js"></script>
<script src="/libs/simplebar/simplebar.min.js"></script>
<script src="/libs/node-waves/waves.min.js"></script>
<script src="/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

<!--Morris Chart-->
<script src="/libs/morris.js/morris.min.js"></script>
<script src="/libs/raphael/raphael.min.js"></script>

<script src="/js/pages/dashboard.init.js"></script>

<!-- App js -->
<script src="/js/app.js"></script>
<script>
  $("#myForm").submit(function (event) {
    event.preventDefault();
    var formData = $(this).serializeArray();
    const requestData = {};
    console.log('formData: ', formData);
    let errCount = 0
    const errtxt = document.getElementById("trans-msg");
    formData.map((elem) => {
      if(!elem?.value && errCount===0){
        console.log("==========");
          errtxt.textContent = `${elem.name} is required`
          errCount = 1
          // return false
        }else{
          requestData[elem.name] = elem.value;
        }
      });
      if(requestData.pin !== requestData.c_pin){
        errtxt.textContent = `Confirm New Pin Miss-Matched`
        return false
      }else if(errCount===0){
      errtxt.textContent = ``

      $.ajax({
        url: "update-pin",
        method: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(requestData),
        success: (response) => {
          console.log('response: ', response);
          errtxt.textContent = response?.message;
          console.log('response?.data?.message: ', response?.message);
          errtxt.style.color = "green";
          setTimeout(() => {
            errtxt.textContent = '';
            count = 1
          }, 2000);
          $('#myForm')[0].reset();
        },
        error: (response) => {
          errtxt.textContent = response?.responseJSON?.message;
          setTimeout(() => {
            errtxt.textContent = '';
          }, 3000);
        }
      });
    }
  });
</script>
