<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=1024" />
  <title>funrep | Child Registration</title>
  <style>
    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    .dasboardContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .layout {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .firstlayer {
      background-color: black;
      height: 55px;
    }

    .secondlayer {
      background-color: #990000;
      height: 23px;
    }

    .middleul,
    .bottomul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      height: 100%;
    }

    .bold {
      font-weight: 700;
    }

    a {
      cursor: pointer;
    }

    .middleul li {
      list-style: none;
      font-size: 13px;
      font-weight: normal;
      color: #ffffff;
      cursor: pointer;
    }

    .thirdlayer {
      background-color: #f7b200;
      padding: 5px 10px;
    }

    .bottomul li {
      font-weight: normal;
      font-size: 13px;
      color: #320000;
      list-style: none;
    }

    .logo {
      position: absolute;
      top: 15px;
      left: 10px;
    }

    .bottomMainContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: auto;
      gap: 10px;
      max-width: 1100px;
    }

    .bottomtopSection {
      display: flex;
      width: 95%;
      justify-content: space-between;
    }

    .refreshbtn {
      background: #1e90ff;
      color: #fff;
      padding: 4px;
      font-size: 14px;
      outline: none;
      cursor: pointer;
      border: none;
    }

    .bottomText {
      display: flex;
      justify-content: space-between;
    }

    .bottomtopTextSection {
      width: 100%;
    }

    .bottomtopTextSection p {
      font-size: 12px;
      font-weight: normal;
      padding-top: 4px;
    }

    .highlightText {
      color: #0000ff;
      font-size: 14px !important;
    }

    .managePoint {
      display: flex;
      flex-direction: column;
      width: 650px;
      border: 1px solid black;
      padding: 2px;
      margin: 0px 10px 10px 10px;
    }

    .managePointContainer {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      background: #990000;
      color: white;
      height: 25px;
      font-size: 12px;
    }

    .managePoint form {
      width: 100%;
      background-color: #dcdcdc;
    }

    .formelement {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 10px;
      position: relative;
      width: 100%;
    }

    .formelement p {
      font-size: 13px;
      color: #666666;
      font-weight: normal;
      line-height: 10px;
      border: none;
    }

    .tableContainerform {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 50%;
      margin: auto 0px;
      padding: 15px 10px;
      gap: 7px;
    }

    .formelementbutton {
      display: flex;
      width: 100%;
      gap: 10px;
      margin-top: 6px;
      justify-content: start;
    }

    .svgelement,
    .svgelementslaheye {
      position: absolute;
      right: 5px;
      top: 4px;
      cursor: pointer;
    }

    .headingpara {
      font-size: 13px;
      font-weight: 600;
      padding-left: 5px;
    }

    .membertype {
      position: relative;
    }

    .membertype a {
      width: 100%;
      position: absolute;
      right: -390px;
      font-size: 13px;
      color: #0000ff;
    }

    .formelement a {
      font-size: 12px;
      color: #0000ff;
      line-height: 10px;
      text-decoration: underline;
    }

    .dob {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 6px;
    }

    .termscheckbox {
      width: 15px;
      height: 15px;
    }
    #trans-msg{
      color: #990000 !important;
      display: flex;
      justify-content: start;
      width: 59%;
    }
    
    @media screen and (max-width:991px) {
      /* .managePoint{
        width: 100%;
      }
      .tableContainerform{
        width: 100%;
      }
      .middleul, .bottomul{
        flex-wrap: wrap;
      }
      .secondlayer{
        height: auto;
      } */
      /* .dasboardContainer{
        zoom: 0.5;
      }
      .tableContainerform{
        width: 60%;
      } */
    }
  </style>
</head>

<body>
  <div class="dasboardContainer">
    <%- include('../../partials/header') %>
      <div class="bottomMainContainer">
        <div class="bottomtopSection">
          <div class="bottomtopTextSection">
            <p>Welcome</p>
            <p class="highlightText" id="hightlighttext">Gift Id</p>
            <div class="bottomText">
              <p>
                Your Current Balance is
                <span class="highlightText bold" id="pin"></span>
              </p>
            </div>
          </div>
        </div>
        <span id="trans-msg"></span>
        <div class="managePoint" id="pointtransfer">
          <div class="managePointContainer">
            <p class="headingpara">:: Child Registration</p>
          </div>
          <form id="myForm">
            <div class="tableContainerform">
              <div class="formelement">
                <p>First Name :</p>
                <input type="text" name="first_name">
              </div>
              <div class="formelement">
                <p>Last Name :</p>
                <input type="text" name="last_name">
              </div>
              <div class="formelement">
                <p>username :</p>
                <input type="text" value="GK" name="username">
              </div>
              <div class="formelement">
                <p>Date Of Birth:</p>
                <div class="dob">
                  <select id="dayoption" name="day"></select>
                  <select id="monthoption" name="month"></select>
                  <select id="yearoption" name="year"></select>
                </div>
              </div>
              <div class="formelement">
                <p>Country:</p>
                <select name="country">
                  <option value="INDIA">INDIA</option>
                </select>
              </div>
              <div class="formelement">
                <p>State:</p>
                <select name="state" id="state">
                  <option value="A">A</option>
                  <option value="AGRA">AGRA</option>
                  <option value="ANDAMAN AND NICOBAR">ANDAMAN AND NICOBAR</option>
                  <option value="ANDHRA PRADESH">ANDHRA PRADESH</option>
                  <option value="ARUNACHAL PRADESH">ARUNACHAL PRADESH</option>
                  <option value="ASSAM">ASSAM</option>
                  <option value="Andaman">Andaman</option>
                  <option value="Andra Pradesh">Andra Pradesh</option>
                  <option value="B">B</option>
                  <option value="BHY">BHY</option>
                  <option value="BIHAR">BIHAR</option>
                  <option value="CHANDIGARH">CHANDIGARH</option>
                  <option value="CHHATISGARH">CHHATISGARH</option>
                  <option value="CHHATTISGARH">CHHATTISGARH</option>
                  <option value="DADAR AND NAGAR HAVE">DADAR AND NAGAR HAVE</option>
                  <option value="DADAR AND NAGAR HAVELI">DADAR AND NAGAR HAVELI</option>
                  <option value="DAMAN AND DIU">DAMAN AND DIU</option>
                  <option value="DELHI">DELHI</option>
                  <option value="DELHI ">DELHI </option>
                  <option value="DUBAI">DUBAI</option>
                  <option value="Dadra">Dadra</option>
                  <option value="E">E</option>
                  <option value="F">F</option>
                  <option value="G">G</option>
                  <option value="GG">GG</option>
                  <option value="GOA">GOA</option>
                  <option value="GUJ">GUJ</option>
                  <option value="GUJARAT">GUJARAT</option>
                  <option value="GUJARATA">GUJARATA</option>
                  <option value="GUJRAT">GUJRAT</option>
                  <option value="H">H</option>
                  <option value="HARAYANA">HARAYANA</option>
                  <option value="HARIYANA">HARIYANA</option>
                  <option value="HARYANA">HARYANA</option>
                  <option value="HIMACHAL PRADESH">HIMACHAL PRADESH</option>
                  <option value="HJ">HJ</option>
                  <option value="HKJH">HKJH</option>
                  <option value="JAMMU AND KASHMIR">JAMMU AND KASHMIR</option>
                  <option value="JHALAWAR">JHALAWAR</option>
                  <option value="JHARKHAND">JHARKHAND</option>
                  <option value="JHSANH">JHSANH</option>
                  <option value="KARNATAKA">KARNATAKA</option>
                  <option value="KERALA">KERALA</option>
                  <option value="KTM">KTM</option>
                  <option value="L">L</option>
                  <option value="LAKSHADEEP">LAKSHADEEP</option>
                  <option value="M">M</option>
                  <option value="MADAHYAPRAD">MADAHYAPRAD</option>
                  <option value="MADHYA PRADESH">MADHYA PRADESH</option>
                  <option value="MAH">MAH</option>
                  <option value="MAHA">MAHA</option>
                  <option value="MAHARAHSTRA">MAHARAHSTRA</option>
                  <option value="MAHARASHTRA">MAHARASHTRA</option>
                  <option value="MAHARASHTRS">MAHARASHTRS</option>
                  <option value="MAHARAST">MAHARAST</option>
                  <option value="MAHARASTAR">MAHARASTAR</option>
                  <option value="MAHARASTARA">MAHARASTARA</option>
                  <option value="MAHARASTRA">MAHARASTRA</option>
                  <option value="MAHARSAHTRA">MAHARSAHTRA</option>
                  <option value="MAHARSTRA">MAHARSTRA</option>
                  <option value="MAHRASHTRA">MAHRASHTRA</option>
                  <option value="MAHRASTRA">MAHRASTRA</option>
                  <option value="MANIPUR">MANIPUR</option>
                  <option value="MANSOO R">MANSOO R</option>
                  <option value="MARSTEA">MARSTEA</option>
                  <option value="MEGHALAYA">MEGHALAYA</option>
                  <option value="MH">MH</option>
                  <option value="MHA">MHA</option>
                  <option value="MHARASTARA">MHARASTARA</option>
                  <option value="MHR">MHR</option>
                  <option value="MIZORAM">MIZORAM</option>
                  <option value="MP">MP</option>
                  <option value="MS">MS</option>
                  <option value="MUMBAI">MUMBAI</option>
                  <option value="N">N</option>
                  <option value="NAGALAND">NAGALAND</option>
                  <option value="ORISSA">ORISSA</option>
                  <option value="PONDICHERRY">PONDICHERRY</option>
                  <option value="PUNJAB">PUNJAB</option>
                  <option value="RAJ">RAJ</option>
                  <option value="RAJASTAN">RAJASTAN</option>
                  <option value="RAJASTHAN">RAJASTHAN</option>
                  <option value="RAJSHATN">RAJSHATN</option>
                  <option value="RAJSHTAN">RAJSHTAN</option>
                  <option value="RAJSHTHAN">RAJSHTHAN</option>
                  <option value="RAJSTHAN">RAJSTHAN</option>
                  <option value="S">S</option>
                  <option value="SIKKIM">SIKKIM</option>
                  <option value="TAMIL NADU">TAMIL NADU</option>
                  <option value="THANA">THANA</option>
                  <option value="THANE">THANE</option>
                  <option value="THYANE">THYANE</option>
                  <option value="TRIPURA">TRIPURA</option>
                  <option value="U P">U P</option>
                  <option value="UP">UP</option>
                  <option value="UTTAR PRADES">UTTAR PRADES</option>
                  <option value="UTTAR PRADESH">UTTAR PRADESH</option>
                  <option value="UTTARANCHAL">UTTARANCHAL</option>
                  <option value="W">W</option>
                  <option value="WEST BENGAL">WEST BENGAL</option>
                  <option value="Y">Y</option>

                </select>
              </div>
              <div class="formelement">
                <p>City:</p>

                <select name="city" id="city">
                  <option value="A">A</option>
                  <option value="ABAD">ABAD</option>
                  <option value="ABHANPUR">ABHANPUR</option>
                  <option value="ABOHAR">ABOHAR</option>
                  <option value="ACALPUR">ACALPUR</option>
                  <option value="ACHAIPUR">ACHAIPUR</option>
                  <option value="ADAMPUR">ADAMPUR</option>
                  <option value="ADDANKI">ADDANKI</option>
                  <option value="ADHAV">ADHAV</option>
                  <option value="ADILABAD">ADILABAD</option>
                  <option value="ADIMALI">ADIMALI</option>
                  <option value="ADIPUR">ADIPUR</option>
                  <option value="ADIRAMPATTINAM">ADIRAMPATTINAM</option>
                  <option value="ADOKHAR">ADOKHAR</option>
                  <option value="ADONI">ADONI</option>
                  <option value="ADOOR">ADOOR</option>
                  <option value="ADYAL">ADYAL</option>
                  <option value="AFZALPUR">AFZALPUR</option>
                  <option value="AGARTALA">AGARTALA</option>
                  <option value="AGASTEESWARAM">AGASTEESWARAM</option>
                  <option value="AGRA">AGRA</option>
                  <option value="AGRAHARAM">AGRAHARAM</option>
                  <option value="AHAMDABAD">AHAMDABAD</option>
                  <option value="AHERI">AHERI</option>
                  <option value="AHMDABAD">AHMDABAD</option>
                  <option value="AHMEDABAD">AHMEDABAD</option>
                  <option value="AHMEDGARH">AHMEDGARH</option>
                  <option value="AHMEDNAGAR">AHMEDNAGAR</option>
                  <option value="AHMEDPUR">AHMEDPUR</option>
                  <option value="AHWA">AHWA</option>
                  <option value="AIMANGALA">AIMANGALA</option>
                  <option value="AINAPUR">AINAPUR</option>
                  <option value="AIZAWL">AIZAWL</option>
                  <option value="AJARA">AJARA</option>
                  <option value="AJAYGARH">AJAYGARH</option>
                  <option value="AJJAMPUR">AJJAMPUR</option>
                  <option value="AJMER">AJMER</option>
                  <option value="AKALTARA">AKALTARA</option>
                  <option value="AKKALKOT">AKKALKOT</option>
                  <option value="AKKALKUWA">AKKALKUWA</option>
                  <option value="AKKI ALUR">AKKI ALUR</option>
                  <option value="AKLUJ">AKLUJ</option>
                  <option value="AKOLA">AKOLA</option>
                  <option value="AKOLE">AKOLE</option>
                  <option value="AKOT">AKOT</option>
                  <option value="AKURDI">AKURDI</option>
                  <option value="ALLAHABAD">ALLAHABAD</option>
                  <option value="ATREYAPURAM">ATREYAPURAM</option>
                  <option value="ATTILI">ATTILI</option>
                  <option value="ATTUNGAL">ATTUNGAL</option>
                  <option value="ATTUR">ATTUR</option>
                  <option value="AUGUSTMUNI">AUGUSTMUNI</option>
                  <option value="AUKIRIPALLI">AUKIRIPALLI</option>
                  <option value="AUL">AUL</option>
                  <option value="AURAD">AURAD</option>
                  <option value="AURANGABAD">AURANGABAD</option>
                  <option value="AUSA">AUSA</option>
                  <option value="AVANIGADDA">AVANIGADDA</option>
                  <option value="AVENA">AVENA</option>
                  <option value="AYYANNAPETA">AYYANNAPETA</option>
                  <option value="AZAD LAKHIMPUR">AZAD LAKHIMPUR</option>
                  <option value="AZAMGARH">AZAMGARH</option>
                  <option value="AZAMPUR">AZAMPUR</option>
                  <option value="Addanki">Addanki</option>
                  <option value="B">B</option>
                  <option value="BABAI">BABAI</option>
                  <option value="BABHULGAON">BABHULGAON</option>
                  <option value="BABLESHWAR">BABLESHWAR</option>
                  <option value="BADAMI">BADAMI</option>
                  <option value="BADGAON">BADGAON</option>
                  <option value="BADKOT">BADKOT</option>
                  <option value="BADNAPUR">BADNAPUR</option>
                  <option value="BADNERA">BADNERA</option>
                  <option value="BADOKHAR">BADOKHAR</option>
                  <option value="BADVEL">BADVEL</option>
                  <option value="BAGAHA">BAGAHA</option>
                  <option value="BAGALKOT">BAGALKOT</option>
                  <option value="BAGAR">BAGAR</option>
                  <option value="BAGBAHARA">BAGBAHARA</option>
                  <option value="BAGEPALLI">BAGEPALLI</option>
                  <option value="BAGHMARA">BAGHMARA</option>
                  <option value="BAGHMARA GARO HILLS">BAGHMARA GARO HILLS</option>
                  <option value="BAGNAN">BAGNAN</option>
                  <option value="BAHADURGANJ">BAHADURGANJ</option>
                  <option value="BAHADURGARH">BAHADURGARH</option>
                  <option value="BAHALDA">BAHALDA</option>
                  <option value="BAHERA">BAHERA</option>
                  <option value="BAHERI">BAHERI</option>
                  <option value="BAHINSA">BAHINSA</option>
                  <option value="BAHONA">BAHONA</option>
                  <option value="BAKANER">BAKANER</option>
                  <option value="BANGALORE">BANGALORE</option>
                  <option value="BEKANER">BEKANER</option>
                  <option value="BHATIA">BHATIA</option>
                  <option value="BHAYANDER">BHAYANDER</option>
                  <option value="BHAYANDRER">BHAYANDRER</option>
                  <option value="BHILAI">BHILAI</option>
                  <option value="BHIWANDI">BHIWANDI</option>
                  <option value="BHYANDER">BHYANDER</option>
                  <option value="BIKANER">BIKANER</option>
                  <option value="BIKANERR">BIKANERR</option>
                  <option value="BIKANERRA">BIKANERRA</option>
                  <option value="BOLANGIR">BOLANGIR</option>
                  <option value="BOLEGAON">BOLEGAON</option>
                  <option value="BOLLARAM">BOLLARAM</option>
                  <option value="BOLPUR">BOLPUR</option>
                  <option value="BOMBAY">BOMBAY</option>
                  <option value="BOMDILA">BOMDILA</option>
                  <option value="BOMMANAKATTE">BOMMANAKATTE</option>
                  <option value="BOMMURU">BOMMURU</option>
                  <option value="BONGAIGAON">BONGAIGAON</option>
                  <option value="BORADI">BORADI</option>
                  <option value="BORGAON MANJU">BORGAON MANJU</option>
                  <option value="BORHAT">BORHAT</option>
                  <option value="BORSAD">BORSAD</option>
                  <option value="BOTAD">BOTAD</option>
                  <option value="BRAHMAGIRI">BRAHMAGIRI</option>
                  <option value="BRAMHAPURI">BRAMHAPURI</option>
                  <option value="BRANHMAVAR">BRANHMAVAR</option>
                  <option value="BROACH">BROACH</option>
                  <option value="BRUNDABAN VIHAR">BRUNDABAN VIHAR</option>
                  <option value="BUCHIREDDYPALEM">BUCHIREDDYPALEM</option>
                  <option value="BUDAUN">BUDAUN</option>
                  <option value="BUDDAARAM">BUDDAARAM</option>
                  <option value="BUDHLAD">BUDHLAD</option>
                  <option value="BUDHOLI">BUDHOLI</option>
                  <option value="BUGUDA">BUGUDA</option>
                  <option value="BUHARI">BUHARI</option>
                  <option value="BUKKAPATNAM">BUKKAPATNAM</option>
                  <option value="BULANDSHAHAR">BULANDSHAHAR</option>
                  <option value="BULDANA">BULDANA</option>
                  <option value="BULDHANA">BULDHANA</option>
                  <option value="BULSAR">BULSAR</option>
                  <option value="BUNGKAWN">BUNGKAWN</option>
                  <option value="BURDWAN">BURDWAN</option>
                  <option value="BURHANPUR">BURHANPUR</option>
                  <option value="BURHAR">BURHAR</option>
                  <option value="BURIA">BURIA</option>
                  <option value="BUTIBORI">BUTIBORI</option>
                  <option value="BUXAR">BUXAR</option>
                  <option value="BWM">BWM</option>
                  <option value="BYADGI">BYADGI</option>
                  <option value="BYNDOOR">BYNDOOR</option>
                  <option value="CACHAR">CACHAR</option>
                  <option value="CAHMORSHI">CAHMORSHI</option>
                  <option value="CALICUT">CALICUT</option>
                  <option value="CHANDIGRAH">CHANDIGRAH</option>
                  <option value="CHHINDWARA">CHHINDWARA</option>
                  <option value="CHITTARANJAN">CHITTARANJAN</option>
                  <option value="CHITTOOR">CHITTOOR</option>
                  <option value="CHITTORGARH">CHITTORGARH</option>
                  <option value="CHITTUR">CHITTUR</option>
                  <option value="CHITYAL">CHITYAL</option>
                  <option value="CHODAVARAM">CHODAVARAM</option>
                  <option value="CHOPDA">CHOPDA</option>
                  <option value="CHOUDWAR">CHOUDWAR</option>
                  <option value="CHOUTUPPAL">CHOUTUPPAL</option>
                  <option value="CHOWARI">CHOWARI</option>
                  <option value="CHOWDAVARAM">CHOWDAVARAM</option>
                  <option value="CHUMUKHEDIMA">CHUMUKHEDIMA</option>
                  <option value="CHUNGATHARA">CHUNGATHARA</option>
                  <option value="CHUNKANKADAI">CHUNKANKADAI</option>
                  <option value="CHURACHANDPUR">CHURACHANDPUR</option>
                  <option value="CHURU">CHURU</option>
                  <option value="CHURULIA">CHURULIA</option>
                  <option value="CILAKALURIPET">CILAKALURIPET</option>
                  <option value="COCHIN">COCHIN</option>
                  <option value="COIMBATORE">COIMBATORE</option>
                  <option value="CONTAI">CONTAI</option>
                  <option value="COOCH BEHAR">COOCH BEHAR</option>
                  <option value="COURTALLAM">COURTALLAM</option>
                  <option value="CUDDAPAH">CUDDAPAH</option>
                  <option value="CUMBUM">CUMBUM</option>
                  <option value="CUNCOLIM">CUNCOLIM</option>
                  <option value="CUTTACK">CUTTACK</option>
                  <option value="D">D</option>
                  <option value="DABHOI">DABHOI</option>
                  <option value="DABHRA">DABHRA</option>
                  <option value="DELHI">DELHI</option>
                  <option value="DHULE">DHULE</option>
                  <option value="DHULIA">DHULIA</option>
                  <option value="DOMBIVALI">DOMBIVALI</option>
                  <option value="DOMBIVLI">DOMBIVLI</option>
                  <option value="DOMBIWALI">DOMBIWALI</option>
                  <option value="DQ">DQ</option>
                  <option value="DUBAI">DUBAI</option>
                  <option value="DUMRAON">DUMRAON</option>
                  <option value="DUNGARPUR">DUNGARPUR</option>
                  <option value="DURA">DURA</option>
                  <option value="DURG">DURG</option>
                  <option value="DURGAPUR">DURGAPUR</option>
                  <option value="DURTLANG">DURTLANG</option>
                  <option value="DUSARBID">DUSARBID</option>
                  <option value="DUSPALA">DUSPALA</option>
                  <option value="EDACOCHIN">EDACOCHIN</option>
                  <option value="EDATHUA">EDATHUA</option>
                  <option value="EDAVANNA">EDAVANNA</option>
                  <option value="ELARIHTHATTU">ELARIHTHATTU</option>
                  <option value="ELERITHATTU">ELERITHATTU</option>
                  <option value="ELLENABAD">ELLENABAD</option>
                  <option value="ELTHURUTH">ELTHURUTH</option>
                  <option value="ELTUMANOOR">ELTUMANOOR</option>
                  <option value="ELURU">ELURU</option>
                  <option value="ERAKANA">ERAKANA</option>
                  <option value="ERANCH">ERANCH</option>
                  <option value="ERNAKULAM">ERNAKULAM</option>
                  <option value="ERODE">ERODE</option>
                  <option value="ERSAMA">ERSAMA</option>
                  <option value="ESHAHPUR">ESHAHPUR</option>
                  <option value="ETAH">ETAH</option>
                  <option value="ETAPALLI">ETAPALLI</option>
                  <option value="ETAWAH">ETAWAH</option>
                  <option value="ETCHERLA">ETCHERLA</option>
                  <option value="ETHAROD">ETHAROD</option>
                  <option value="ETTAYAPURAM">ETTAYAPURAM</option>
                  <option value="ETTUMANUR">ETTUMANUR</option>
                  <option value="F">F</option>
                  <option value="FAIZABAD">FAIZABAD</option>
                  <option value="FAIZPUR">FAIZPUR</option>
                  <option value="FARIDABAD">FARIDABAD</option>
                  <option value="FARIDKOT">FARIDKOT</option>
                  <option value="FARMAGUDI">FARMAGUDI</option>
                  <option value="FARRUKHABAD">FARRUKHABAD</option>
                  <option value="FATEHABAD">FATEHABAD</option>
                  <option value="FATEHGARH">FATEHGARH</option>
                  <option value="FATEHGARH SAHIB">FATEHGARH SAHIB</option>
                  <option value="FATEHPUR">FATEHPUR</option>
                  <option value="FATEHPUR SEKHAWATI">FATEHPUR SEKHAWATI</option>
                  <option value="FATIKROY">FATIKROY</option>
                  <option value="FATTAPUR">FATTAPUR</option>
                  <option value="FAZILKA">FAZILKA</option>
                  <option value="FEROKE">FEROKE</option>
                  <option value="FEROZEPUR">FEROZEPUR</option>
                  <option value="FIROZABAD">FIROZABAD</option>
                  <option value="FORBESGANJ">FORBESGANJ</option>
                  <option value="G">G</option>
                  <option value="G UDAYGIRI">G UDAYGIRI</option>
                  <option value="GADAG">GADAG</option>
                  <option value="GADARWARA">GADARWARA</option>
                  <option value="GADCHANDUR">GADCHANDUR</option>
                  <option value="GADCHIROLI">GADCHIROLI</option>
                  <option value="GADHADA">GADHADA</option>
                  <option value="GADHINGLAJ">GADHINGLAJ</option>
                  <option value="GADOHIROLI">GADOHIROLI</option>
                  <option value="GADWAL">GADWAL</option>
                  <option value="GAJAPATINAGARAM">GAJAPATINAGARAM</option>
                  <option value="GAJENDRAGAD">GAJENDRAGAD</option>
                  <option value="GAJWEL">GAJWEL</option>
                  <option value="GANAPAVARAM">GANAPAVARAM</option>
                  <option value="GANDAI">GANDAI</option>
                  <option value="GANDASI">GANDASI</option>
                  <option value="GANDHIGRAM">GANDHIGRAM</option>
                  <option value="GANDHINAGAR">GANDHINAGAR</option>
                  <option value="GANDHINGLAJ">GANDHINGLAJ</option>
                  <option value="GANGAKHED">GANGAKHED</option>
                  <option value="GANGANAGAR">GANGANAGAR</option>
                  <option value="GANGAPUR">GANGAPUR</option>
                  <option value="GANGARAMPUR">GANGARAMPUR</option>
                  <option value="GANGAWATHI">GANGAWATHI</option>
                  <option value="GANGTOK">GANGTOK</option>
                  <option value="GANIA">GANIA</option>
                  <option value="GANJAM">GANJAM</option>
                  <option value="GANJDUNDWARA">GANJDUNDWARA</option>
                  <option value="GANNAVARM">GANNAVARM</option>
                  <option value="GARAHAMANTRI">GARAHAMANTRI</option>
                  <option value="GARATAD">GARATAD</option>
                  <option value="GARGAON">GARGAON</option>
                  <option value="GARGOTI">GARGOTI</option>
                  <option value="GARHAKOTA">GARHAKOTA</option>
                  <option value="GARHPALASUNI">GARHPALASUNI</option>
                  <option value="GARIABAND">GARIABAND</option>
                  <option value="GARIYADHAR">GARIYADHAR</option>
                  <option value="GHATKOPAR">GHATKOPAR</option>
                  <option value="GONDIA">GONDIA</option>
                  <option value="GURGAON">GURGAON</option>
                  <option value="GURGOAN">GURGOAN</option>
                  <option value="GURH">GURH</option>
                  <option value="GURMITKAL">GURMITKAL</option>
                  <option value="GURUDASPUR">GURUDASPUR</option>
                  <option value="GURUKUL KANGRI">GURUKUL KANGRI</option>
                  <option value="GURUVAYUR">GURUVAYUR</option>
                  <option value="GUSHKARA">GUSHKARA</option>
                  <option value="GUWAHATI">GUWAHATI</option>
                  <option value="GWALIOR">GWALIOR</option>
                  <option value="H">H</option>
                  <option value="H BHANAHALLI">H BHANAHALLI</option>
                  <option value="H HADAGALI">H HADAGALI</option>
                  <option value="H HUVINA HADAGALLI">H HUVINA HADAGALLI</option>
                  <option value="HADAPSAR">HADAPSAR</option>
                  <option value="HADGAON">HADGAON</option>
                  <option value="HAFIZPUR">HAFIZPUR</option>
                  <option value="HAFLONG">HAFLONG</option>
                  <option value="HAILAKANDI">HAILAKANDI</option>
                  <option value="HAJIPUR">HAJIPUR</option>
                  <option value="HALDWANI">HALDWANI</option>
                  <option value="HALEANGADY">HALEANGADY</option>
                  <option value="HALIYA">HALIYA</option>
                  <option value="HALIYAL">HALIYAL</option>
                  <option value="HALKANADI">HALKANADI</option>
                  <option value="HALKARNI">HALKARNI</option>
                  <option value="HALLIKHED">HALLIKHED</option>
                  <option value="HALOL">HALOL</option>
                  <option value="HAMIRPUR">HAMIRPUR</option>
                  <option value="HANAGAL">HANAGAL</option>
                  <option value="HANAMKONDA">HANAMKONDA</option>
                  <option value="HANDIA">HANDIA</option>
                  <option value="HANGAL">HANGAL</option>
                  <option value="HANSI">HANSI</option>
                  <option value="HANTERGANJ">HANTERGANJ</option>
                  <option value="HANUMANA">HANUMANA</option>
                  <option value="HANUMANGARH">HANUMANGARH</option>
                  <option value="HANUR">HANUR</option>
                  <option value="HAPUR">HAPUR</option>
                  <option value="HARANATHPURAM">HARANATHPURAM</option>
                  <option value="HARAPANAHALLI">HARAPANAHALLI</option>
                  <option value="HARDA">HARDA</option>
                  <option value="HARDI BAZAR">HARDI BAZAR</option>
                  <option value="HOJAI">HOJAI</option>
                  <option value="HOLALKERE">HOLALKERE</option>
                  <option value="HOLEALUR">HOLEALUR</option>
                  <option value="HOLENARSIPUR">HOLENARSIPUR</option>
                  <option value="HONNALI">HONNALI</option>
                  <option value="HONNAVAR">HONNAVAR</option>
                  <option value="HOOGLY">HOOGLY</option>
                  <option value="HORTI">HORTI</option>
                  <option value="HOSANAGAR">HOSANAGAR</option>
                  <option value="HOSHANGABAD">HOSHANGABAD</option>
                  <option value="HOSHIARPUR">HOSHIARPUR</option>
                  <option value="HOSKOTE">HOSKOTE</option>
                  <option value="HOSPET">HOSPET</option>
                  <option value="HOSUR">HOSUR</option>
                  <option value="HOWLI">HOWLI</option>
                  <option value="HOWRAH">HOWRAH</option>
                  <option value="HRANGBANA">HRANGBANA</option>
                  <option value="HUBLI">HUBLI</option>
                  <option value="HUKKERI">HUKKERI</option>
                  <option value="HUMNABAD">HUMNABAD</option>
                  <option value="HUNSUR">HUNSUR</option>
                  <option value="HUPARI">HUPARI</option>
                  <option value="HUZURABAD">HUZURABAD</option>
                  <option value="HUZURNAGAR">HUZURNAGAR</option>
                  <option value="HYDERABAD">HYDERABAD</option>
                  <option value="IBRAHIMPATNAM">IBRAHIMPATNAM</option>
                  <option value="ICHALKARANJI">ICHALKARANJI</option>
                  <option value="ICHHAWAR">ICHHAWAR</option>
                  <option value="IDAR">IDAR</option>
                  <option value="IGATPURI">IGATPURI</option>
                  <option value="ILAYANGUDI">ILAYANGUDI</option>
                  <option value="ILKAL">ILKAL</option>
                  <option value="IMPHAL">IMPHAL</option>
                  <option value="INCHAL">INCHAL</option>
                  <option value="INDARA MAU">INDARA MAU</option>
                  <option value="INDORA">INDORA</option>
                  <option value="INDORE">INDORE</option>
                  <option value="INDUPUR">INDUPUR</option>
                  <option value="INKOLLU">INKOLLU</option>
                  <option value="IRINJALAKUDA">IRINJALAKUDA</option>
                  <option value="IRITTY">IRITTY</option>
                  <option value="ISLAMPUR">ISLAMPUR</option>
                  <option value="ITAMUKKALA">ITAMUKKALA</option>
                  <option value="ITANAGAR">ITANAGAR</option>
                  <option value="ITARSI">ITARSI</option>
                  <option value="ITIKYAL">ITIKYAL</option>
                  <option value="IZATNAGAR">IZATNAGAR</option>
                  <option value="J">J</option>
                  <option value="JABALPUR">JABALPUR</option>
                  <option value="JABERA">JABERA</option>
                  <option value="JADCHERIA">JADCHERIA</option>
                  <option value="JAFRABAD">JAFRABAD</option>
                  <option value="JAGADHARI">JAGADHARI</option>
                  <option value="JAGALUR">JAGALUR</option>
                  <option value="JAGATPUR">JAGATPUR</option>
                  <option value="JAGATSINGHPUR">JAGATSINGHPUR</option>
                  <option value="JAGDALPUR">JAGDALPUR</option>
                  <option value="JAGGAIAHPET">JAGGAIAHPET</option>
                  <option value="JAGGAMPETA">JAGGAMPETA</option>
                  <option value="JAGOI">JAGOI</option>
                  <option value="JAGTIAL">JAGTIAL</option>
                  <option value="JAHANABAD">JAHANABAD</option>
                  <option value="JAHEDNAGAR">JAHEDNAGAR</option>
                  <option value="JAINA">JAINA</option>
                  <option value="JAINTIA HILLS">JAINTIA HILLS</option>
                  <option value="JAIPUR">JAIPUR</option>
                  <option value="JAISINGHNAGAR">JAISINGHNAGAR</option>
                  <option value="JAITPUR">JAITPUR</option>
                  <option value="JAJAPUR">JAJAPUR</option>
                  <option value="JAKATWADI">JAKATWADI</option>
                  <option value="JAKHAMA">JAKHAMA</option>
                  <option value="JALAHGHAT">JALAHGHAT</option>
                  <option value="JALALPUR">JALALPUR</option>
                  <option value="JALANDHAR">JALANDHAR</option>
                  <option value="JALAUN">JALAUN</option>
                  <option value="JALESAR">JALESAR</option>
                  <option value="JALESWAR">JALESWAR</option>
                  <option value="JALGAON">JALGAON</option>
                  <option value="JALNA">JALNA</option>
                  <option value="JALPAIGURI">JALPAIGURI</option>
                  <option value="JAMALPUR">JAMALPUR</option>
                  <option value="JAMBUSAR">JAMBUSAR</option>
                  <option value="JAMI">JAMI</option>
                  <option value="JHGH">JHGH</option>
                  <option value="JHUNJHUNU">JHUNJHUNU</option>
                  <option value="JIGNI">JIGNI</option>
                  <option value="JILLELLAMUDI">JILLELLAMUDI</option>
                  <option value="JIND">JIND</option>
                  <option value="JINTOOR">JINTOOR</option>
                  <option value="JIRAL">JIRAL</option>
                  <option value="JOBNER">JOBNER</option>
                  <option value="JODHPUR">JODHPUR</option>
                  <option value="JOGINDERNAGAR">JOGINDERNAGAR</option>
                  <option value="JOGIPET">JOGIPET</option>
                  <option value="JONAI">JONAI</option>
                  <option value="JONAL">JONAL</option>
                  <option value="JORANDA">JORANDA</option>
                  <option value="JORHAT">JORHAT</option>
                  <option value="JOSHIMATH">JOSHIMATH</option>
                  <option value="JOURA">JOURA</option>
                  <option value="JOWAI">JOWAI</option>
                  <option value="JULLOR">JULLOR</option>
                  <option value="JUMBUSAR">JUMBUSAR</option>
                  <option value="JUNAGADH">JUNAGADH</option>
                  <option value="JUNNAR">JUNNAR</option>
                  <option value="JURIA">JURIA</option>
                  <option value="K R NAGAR">K R NAGAR</option>
                  <option value="K R PETE">K R PETE</option>
                  <option value="KACHCHH">KACHCHH</option>
                  <option value="KACHERI">KACHERI</option>
                  <option value="KADA">KADA</option>
                  <option value="KADAMBADI">KADAMBADI</option>
                  <option value="KADAVATHUR">KADAVATHUR</option>
                  <option value="KADEPUR">KADEPUR</option>
                  <option value="KADI">KADI</option>
                  <option value="KADIRI">KADIRI</option>
                  <option value="KADMAPADA">KADMAPADA</option>
                  <option value="KAGAL">KAGAL</option>
                  <option value="KAGWAD">KAGWAD</option>
                  <option value="KAIKALUR">KAIKALUR</option>
                  <option value="KAILASHAHAR">KAILASHAHAR</option>
                  <option value="KAIPADARA">KAIPADARA</option>
                  <option value="KAITHAL">KAITHAL</option>
                  <option value="KAITHAPARAMBU">KAITHAPARAMBU</option>
                  <option value="KAJURIAKATA">KAJURIAKATA</option>
                  <option value="KAKANPUR">KAKANPUR</option>
                  <option value="KALYA">KALYA</option>
                  <option value="KANKANPUR">KANKANPUR</option>
                  <option value="KANPUR">KANPUR</option>
                  <option value="KATHMANDU">KATHMANDU</option>
                  <option value="KHANDHERA">KHANDHERA</option>
                  <option value="KKANPUR">KKANPUR</option>
                  <option value="KUSMI">KUSMI</option>
                  <option value="KUSUMBHA">KUSUMBHA</option>
                  <option value="KUTCH">KUTCH</option>
                  <option value="KUTHUPARAMBA">KUTHUPARAMBA</option>
                  <option value="KUZHITHURA">KUZHITHURA</option>
                  <option value="KVVUR">KVVUR</option>
                  <option value="KYMORE">KYMORE</option>
                  <option value="Khanvel">Khanvel</option>
                  <option value="LACHMANGARH">LACHMANGARH</option>
                  <option value="LADAKH">LADAKH</option>
                  <option value="LADNUNM">LADNUNM</option>
                  <option value="LAHERIASARAI">LAHERIASARAI</option>
                  <option value="LAKHANDON">LAKHANDON</option>
                  <option value="LAKHANDUR">LAKHANDUR</option>
                  <option value="LAKHANI">LAKHANI</option>
                  <option value="LAKHIMPUR">LAKHIMPUR</option>
                  <option value="LAKHIMPUR KHERI">LAKHIMPUR KHERI</option>
                  <option value="LAKHTAR">LAKHTAR</option>
                  <option value="LAKKIDI">LAKKIDI</option>
                  <option value="LAKKIREDDIPALLI">LAKKIREDDIPALLI</option>
                  <option value="LAKSHMANGARH">LAKSHMANGARH</option>
                  <option value="LAKSHMESHWAR">LAKSHMESHWAR</option>
                  <option value="LALBAHADURNAGAR">LALBAHADURNAGAR</option>
                  <option value="LALGAON">LALGAON</option>
                  <option value="LALITPUR">LALITPUR</option>
                  <option value="LALSOT">LALSOT</option>
                  <option value="LANSDOWN">LANSDOWN</option>
                  <option value="LATEHAR">LATEHAR</option>
                  <option value="LATUR">LATUR</option>
                  <option value="LAUNDI">LAUNDI</option>
                  <option value="LAWNGTLAI">LAWNGTLAI</option>
                  <option value="LAXMAN CHANDA">LAXMAN CHANDA</option>
                  <option value="LEMALE">LEMALE</option>
                  <option value="LEPAKSHI">LEPAKSHI</option>
                  <option value="LILONG">LILONG</option>
                  <option value="LIMKHEDA">LIMKHEDA</option>
                  <option value="LINGSUGUR">LINGSUGUR</option>
                  <option value="LITAMATI">LITAMATI</option>
                  <option value="LODHIKHERA">LODHIKHERA</option>
                  <option value="LOHA">LOHA</option>
                  <option value="LONAND">LONAND</option>
                  <option value="LONAR">LONAR</option>
                  <option value="LONAVALA">LONAVALA</option>
                  <option value="LONGKHIM">LONGKHIM</option>
                  <option value="LONI">LONI</option>
                  <option value="LORMI">LORMI</option>
                  <option value="LUCKNOW">LUCKNOW</option>
                  <option value="LUDHIANA">LUDHIANA</option>
                  <option value="LUGGLEI">LUGGLEI</option>
                  <option value="LUMDING">LUMDING</option>
                  <option value="LUNAWADA">LUNAWADA</option>
                  <option value="LUNGLEI">LUNGLEI</option>
                  <option value="LUWANGSANGBAM">LUWANGSANGBAM</option>
                  <option value="M">M</option>
                  <option value="MAAL">MAAL</option>
                  <option value="MACHERIA">MACHERIA</option>
                  <option value="MACHHRA">MACHHRA</option>
                  <option value="MACHILIPATNAM">MACHILIPATNAM</option>
                  <option value="MADAKASIRA">MADAKASIRA</option>
                  <option value="MADAMPAM">MADAMPAM</option>
                  <option value="MADANAPALLI">MADANAPALLI</option>
                  <option value="MADANPUR">MADANPUR</option>
                  <option value="MADANTHYAR">MADANTHYAR</option>
                  <option value="MADAPPALLY">MADAPPALLY</option>
                  <option value="MADAYI">MADAYI</option>
                  <option value="MADDUR">MADDUR</option>
                  <option value="MADHA">MADHA</option>
                  <option value="MADHAP">MADHAP</option>
                  <option value="MADHAPUR">MADHAPUR</option>
                  <option value="MADHAVARAM">MADHAVARAM</option>
                  <option value="MADHEPURA">MADHEPURA</option>
                  <option value="MADHIRA">MADHIRA</option>
                  <option value="MADHUBANI">MADHUBANI</option>
                  <option value="MADHUGIRI">MADHUGIRI</option>
                  <option value="MADHUPUR">MADHUPUR</option>
                  <option value="MADIKERI">MADIKERI</option>
                  <option value="MADNASOUR">MADNASOUR</option>
                  <option value="MADURAI">MADURAI</option>
                  <option value="MADURANTHAGAM TALUK">MADURANTHAGAM TALUK</option>
                  <option value="MAGADI">MAGADI</option>
                  <option value="MAHABUBABAD">MAHABUBABAD</option>
                  <option value="MAHABUBNAGAR">MAHABUBNAGAR</option>
                  <option value="MAHAD">MAHAD</option>
                  <option value="MAHAKALAPADA">MAHAKALAPADA</option>
                  <option value="MAHALINGPUR">MAHALINGPUR</option>
                  <option value="MAHARASTRA">MAHARASTRA</option>
                  <option value="MANDYA">MANDYA</option>
                  <option value="MEHASANA">MEHASANA</option>
                  <option value="MINM">MINM</option>
                  <option value="MP">MP</option>
                  <option value="MU">MU</option>
                  <option value="MU MBAI">MU MBAI</option>
                  <option value="MUM">MUM</option>
                  <option value="MUMABAI">MUMABAI</option>
                  <option value="MUMABI">MUMABI</option>
                  <option value="MUMB">MUMB</option>
                  <option value="MUMBAI">MUMBAI</option>
                  <option value="MURTHAL">MURTHAL</option>
                  <option value="MURTIZAPUR">MURTIZAPUR</option>
                  <option value="MURUD">MURUD</option>
                  <option value="MURUM">MURUM</option>
                  <option value="MUSIRI">MUSIRI</option>
                  <option value="MUSSORIE">MUSSORIE</option>
                  <option value="MUTHIREVULA">MUTHIREVULA</option>
                  <option value="MUTHUKUR">MUTHUKUR</option>
                  <option value="MUTHUR">MUTHUR</option>
                  <option value="MUVAL">MUVAL</option>
                  <option value="MUVATTUPUZHA">MUVATTUPUZHA</option>
                  <option value="MUZAFFAR NAGAR">MUZAFFAR NAGAR</option>
                  <option value="MUZAFFARPUR">MUZAFFARPUR</option>
                  <option value="MYSORE">MYSORE</option>
                  <option value="N">N</option>
                  <option value="NABHA">NABHA</option>
                  <option value="NABINAGAR">NABINAGAR</option>
                  <option value="NACHUNI">NACHUNI</option>
                  <option value="NADIA">NADIA</option>
                  <option value="NADIAD">NADIAD</option>
                  <option value="NADOUN">NADOUN</option>
                  <option value="NAGABRAM">NAGABRAM</option>
                  <option value="NAGAMANGALA">NAGAMANGALA</option>
                  <option value="NAGAON">NAGAON</option>
                  <option value="NAGAPATTINAM">NAGAPATTINAM</option>
                  <option value="NAGARAM">NAGARAM</option>
                  <option value="NAGARI">NAGARI</option>
                  <option value="NAGARI-SIHAWA">NAGARI-SIHAWA</option>
                  <option value="NAGARJUNA NAGAR">NAGARJUNA NAGAR</option>
                  <option value="NAGARJUNASAGAR">NAGARJUNASAGAR</option>
                  <option value="NAGARKURNOOL">NAGARKURNOOL</option>
                  <option value="NAGAROOR">NAGAROOR</option>
                  <option value="NAGAUD">NAGAUD</option>
                  <option value="NAGBHID">NAGBHID</option>
                  <option value="NAGERCOIL">NAGERCOIL</option>
                  <option value="NAGPUR">NAGPUR</option>
                  <option value="NAHAN">NAHAN</option>
                  <option value="NAHARAKANTA">NAHARAKANTA</option>
                  <option value="NAHARAKATIYA">NAHARAKATIYA</option>
                  <option value="NAHARLANGUN">NAHARLANGUN</option>
                  <option value="NAIDUPET">NAIDUPET</option>
                  <option value="NAVI MUMBAI">NAVI MUMBAI</option>
                  <option value="NAVIMUMBAI">NAVIMUMBAI</option>
                  <option value="NIRMAL">NIRMAL</option>
                  <option value="NIRMALL">NIRMALL</option>
                  <option value="NITTE">NITTE</option>
                  <option value="NITTUR">NITTUR</option>
                  <option value="NIZAMABAD">NIZAMABAD</option>
                  <option value="NOBHA">NOBHA</option>
                  <option value="NOIDA">NOIDA</option>
                  <option value="NONGPOH">NONGPOH</option>
                  <option value="NONGSTOIN">NONGSTOIN</option>
                  <option value="NONGTALANG">NONGTALANG</option>
                  <option value="NONGTHYMMAI">NONGTHYMMAI</option>
                  <option value="NONOI">NONOI</option>
                  <option value="NORTH LAKHIMPUR">NORTH LAKHIMPUR</option>
                  <option value="NOWARANGPUR">NOWARANGPUR</option>
                  <option value="NOWBOICHA">NOWBOICHA</option>
                  <option value="NOWGON">NOWGON</option>
                  <option value="NOWGONG">NOWGONG</option>
                  <option value="NUAHAT">NUAHAT</option>
                  <option value="NUDADIHA">NUDADIHA</option>
                  <option value="NURPUR">NURPUR</option>
                  <option value="NUVAPADA">NUVAPADA</option>
                  <option value="NUVEM">NUVEM</option>
                  <option value="NUZVID">NUZVID</option>
                  <option value="OBEDULLAGANJ">OBEDULLAGANJ</option>
                  <option value="ODAGAON">ODAGAON</option>
                  <option value="ODE">ODE</option>
                  <option value="OINAM">OINAM</option>
                  <option value="OLAVER">OLAVER</option>
                  <option value="ONGOLE">ONGOLE</option>
                  <option value="OORGAM">OORGAM</option>
                  <option value="OOTACAMUND">OOTACAMUND</option>
                  <option value="OOTY">OOTY</option>
                  <option value="OPAD">OPAD</option>
                  <option value="ORAI">ORAI</option>
                  <option value="ORATHANAD">ORATHANAD</option>
                  <option value="OSMANABAD">OSMANABAD</option>
                  <option value="OTTAPPALAM">OTTAPPALAM</option>
                  <option value="OUPADA">OUPADA</option>
                  <option value="OZAR">OZAR</option>
                  <option value="P">P</option>
                  <option value="P VEMBALLUR">P VEMBALLUR</option>
                  <option value="PACHAGAANI">PACHAGAANI</option>
                  <option value="PALANPUR">PALANPUR</option>
                  <option value="PALGHAT">PALGHAT</option>
                  <option value="PALI">PALI</option>
                  <option value="PARATWADA">PARATWADA</option>
                  <option value="PUNALUR">PUNALUR</option>
                  <option value="PUNDRI">PUNDRI</option>
                  <option value="PUNE">PUNE</option>
                  <option value="PUNGANUR">PUNGANUR</option>
                  <option value="PURAMANNUR">PURAMANNUR</option>
                  <option value="PURANIGUDAM">PURANIGUDAM</option>
                  <option value="PURBAN">PURBAN</option>
                  <option value="PURI">PURI</option>
                  <option value="PURIGALLI MALAVALLI TQ">PURIGALLI MALAVALLI TQ</option>
                  <option value="PURNA">PURNA</option>
                  <option value="PURNEA">PURNEA</option>
                  <option value="PUROLA">PUROLA</option>
                  <option value="PURULIA">PURULIA</option>
                  <option value="PURUSHOTTAMPUR">PURUSHOTTAMPUR</option>
                  <option value="PUSA">PUSA</option>
                  <option value="PUSAD">PUSAD</option>
                  <option value="PUSAPATIREGA">PUSAPATIREGA</option>
                  <option value="PUSEGOAN">PUSEGOAN</option>
                  <option value="PUSHPARAJ GARH">PUSHPARAJ GARH</option>
                  <option value="PUTHENCRUZ">PUTHENCRUZ</option>
                  <option value="PUTTUR">PUTTUR</option>
                  <option value="Port Blair">Port Blair</option>
                  <option value="QUEPEM">QUEPEM</option>
                  <option value="QUILANDI">QUILANDI</option>
                  <option value="RABAKAVI">RABAKAVI</option>
                  <option value="RADHANPUR">RADHANPUR</option>
                  <option value="RAE BARELI">RAE BARELI</option>
                  <option value="RAGHAVAGARH">RAGHAVAGARH</option>
                  <option value="RAGHOGARH">RAGHOGARH</option>
                  <option value="RAHA">RAHA</option>
                  <option value="RAHAMA">RAHAMA</option>
                  <option value="RAHOD">RAHOD</option>
                  <option value="RAHURI">RAHURI</option>
                  <option value="RAIBAG">RAIBAG</option>
                  <option value="RAICHUR">RAICHUR</option>
                  <option value="RAIGAD">RAIGAD</option>
                  <option value="RAIGANJ">RAIGANJ</option>
                  <option value="RAIGARH">RAIGARH</option>
                  <option value="RAIPUR">RAIPUR</option>
                  <option value="RAISEN">RAISEN</option>
                  <option value="RAJ">RAJ</option>
                  <option value="RAJA">RAJA</option>
                  <option value="RAJABAGICHA">RAJABAGICHA</option>
                  <option value="RIMULI">RIMULI</option>
                  <option value="RISHIKESH">RISHIKESH</option>
                  <option value="RISOD">RISOD</option>
                  <option value="ROHIKA">ROHIKA</option>
                  <option value="ROHRU">ROHRU</option>
                  <option value="ROHTAK">ROHTAK</option>
                  <option value="RON">RON</option>
                  <option value="ROOPNAGAR">ROOPNAGAR</option>
                  <option value="ROORKEE">ROORKEE</option>
                  <option value="ROPAR">ROPAR</option>
                  <option value="RORUNA">RORUNA</option>
                  <option value="ROURKELA">ROURKELA</option>
                  <option value="RUDRAPUR">RUDRAPUR</option>
                  <option value="RUKADI">RUKADI</option>
                  <option value="RUPSA">RUPSA</option>
                  <option value="RUSERA">RUSERA</option>
                  <option value="S">S</option>
                  <option value="SABALGARH">SABALGARH</option>
                  <option value="SABROOM">SABROOM</option>
                  <option value="SADAK ARJUNI">SADAK ARJUNI</option>
                  <option value="SADASHIVGAD">SADASHIVGAD</option>
                  <option value="SADASIVAPET">SADASIVAPET</option>
                  <option value="SADHLI">SADHLI</option>
                  <option value="SADIYA">SADIYA</option>
                  <option value="SADULPUR">SADULPUR</option>
                  <option value="SAFIDON">SAFIDON</option>
                  <option value="SAGAR">SAGAR</option>
                  <option value="SAHADA">SAHADA</option>
                  <option value="SAHARANPUR">SAHARANPUR</option>
                  <option value="SAHARASA">SAHARASA</option>
                  <option value="SAHARSA">SAHARSA</option>
                  <option value="SAHASPUR">SAHASPUR</option>
                  <option value="SAHIBGANJ">SAHIBGANJ</option>
                  <option value="SAHSHPURLOHARA">SAHSHPURLOHARA</option>
                  <option value="SAIDAPET TALUK">SAIDAPET TALUK</option>
                  <option value="SAIHA">SAIHA</option>
                  <option value="SAILU">SAILU</option>
                  <option value="SAIMARI">SAIMARI</option>
                  <option value="SAITUAL">SAITUAL</option>
                  <option value="SAJA">SAJA</option>
                  <option value="SAKALESHPUR">SAKALESHPUR</option>
                  <option value="SAKEGAON">SAKEGAON</option>
                  <option value="SAKHIGOPAL">SAKHIGOPAL</option>
                  <option value="SONIPAT">SONIPAT</option>
                  <option value="SRDAR SHAHR">SRDAR SHAHR</option>
                  <option value="SUNABEDA">SUNABEDA</option>
                  <option value="SUNAM">SUNAM</option>
                  <option value="SUNDERGARH">SUNDERGARH</option>
                  <option value="SUNDERNAGAR">SUNDERNAGAR</option>
                  <option value="SUNHAT">SUNHAT</option>
                  <option value="SUNKADAKATTE">SUNKADAKATTE</option>
                  <option value="SUPAUL">SUPAUL</option>
                  <option value="SURAJGARH">SURAJGARH</option>
                  <option value="SURANTHKAL">SURANTHKAL</option>
                  <option value="SURAT">SURAT</option>
                  <option value="SURENDRANAGAR">SURENDRANAGAR</option>
                  <option value="SURGUJA">SURGUJA</option>
                  <option value="SURI">SURI</option>
                  <option value="SURYAPET">SURYAPET</option>
                  <option value="T">T</option>
                  <option value="T KALLIKULAM">T KALLIKULAM</option>
                  <option value="T KALUPATTI">T KALUPATTI</option>
                  <option value="T NARASIPUR">T NARASIPUR</option>
                  <option value="TA PALAN">TA PALAN</option>
                  <option value="TA PALANPUR">TA PALANPUR</option>
                  <option value="TA PRANTIJ">TA PRANTIJ</option>
                  <option value="TA SIDHPUR">TA SIDHPUR</option>
                  <option value="TA. CHANSAMA">TA. CHANSAMA</option>
                  <option value="TADAPALLI">TADAPALLI</option>
                  <option value="TADEPALLIGUDEM">TADEPALLIGUDEM</option>
                  <option value="TADIKONDA">TADIKONDA</option>
                  <option value="TADPATRI">TADPATRI</option>
                  <option value="TADUBI">TADUBI</option>
                  <option value="TAJPUR">TAJPUR</option>
                  <option value="TAKHATPUR">TAKHATPUR</option>
                  <option value="TAKLI-DHOKESHWAR">TAKLI-DHOKESHWAR</option>
                  <option value="TAL KALOL">TAL KALOL</option>
                  <option value="TAL NIPHAD">TAL NIPHAD</option>
                  <option value="TAL RAVER">TAL RAVER</option>
                  <option value="TAL SAKRI">TAL SAKRI</option>
                  <option value="TAL. KHED">TAL. KHED</option>
                  <option value="TALAPADY">TALAPADY</option>
                  <option value="TALASSERY">TALASSERY</option>
                  <option value="TALCHER">TALCHER</option>
                  <option value="TALEGAON DABHADE">TALEGAON DABHADE</option>
                  <option value="TALEIGAO">TALEIGAO</option>
                  <option value="TALIKOTI">TALIKOTI</option>
                  <option value="THANA">THANA</option>
                  <option value="THANE">THANE</option>
                  <option value="TIRUCHIRAPPALLI">TIRUCHIRAPPALLI</option>
                  <option value="TIRUMANGALAM">TIRUMANGALAM</option>
                  <option value="TIRUNELVELI">TIRUNELVELI</option>
                  <option value="TIRUPANANDAL">TIRUPANANDAL</option>
                  <option value="TIRUPATI">TIRUPATI</option>
                  <option value="TIRUPPATTUR PATTI">TIRUPPATTUR PATTI</option>
                  <option value="TIRUPUR">TIRUPUR</option>
                  <option value="TIRUR">TIRUR</option>
                  <option value="TIRUVALENGADU">TIRUVALENGADU</option>
                  <option value="TIRUVALIA">TIRUVALIA</option>
                  <option value="TIRUVALLUR">TIRUVALLUR</option>
                  <option value="TIRUVANNAMALAI">TIRUVANNAMALAI</option>
                  <option value="TITABAR">TITABAR</option>
                  <option value="UDAIPUR">UDAIPUR</option>
                  <option value="UDUPI">UDUPI</option>
                  <option value="UJIRE">UJIRE</option>
                  <option value="UJJAIN">UJJAIN</option>
                  <option value="UKHRUL">UKHRUL</option>
                  <option value="ULAVAPADU">ULAVAPADU</option>
                  <option value="ULHASNAGAR">ULHASNAGAR</option>
                  <option value="ULLAL">ULLAL</option>
                  <option value="UMARER">UMARER</option>
                  <option value="UMARIA">UMARIA</option>
                  <option value="UMARKHED">UMARKHED</option>
                  <option value="UMARKOTE">UMARKOTE</option>
                  <option value="UMBRAJ">UMBRAJ</option>
                  <option value="UMERGA">UMERGA</option>
                  <option value="UMRER">UMRER</option>
                  <option value="UMRONGSO">UMRONGSO</option>
                  <option value="UNA">UNA</option>
                  <option value="UNDRA">UNDRA</option>
                  <option value="UNJHA">UNJHA</option>
                  <option value="UNNAO">UNNAO</option>
                  <option value="UPPINANGADY">UPPINANGADY</option>
                  <option value="URUN ISLAMPUR">URUN ISLAMPUR</option>
                  <option value="UTAI">UTAI</option>
                  <option value="UTHAMAPALAYAM">UTHAMAPALAYAM</option>
                  <option value="UTTARKASHI">UTTARKASHI</option>
                  <option value="UZHAVOOR">UZHAVOOR</option>
                  <option value="VAAGDEVI">VAAGDEVI</option>
                  <option value="VADALI">VADALI</option>
                  <option value="VADLAMUDI">VADLAMUDI</option>
                  <option value="VADNAGAR">VADNAGAR</option>
                  <option value="VADODARA">VADODARA</option>
                  <option value="VADUJ">VADUJ</option>
                  <option value="VAIJNATH">VAIJNATH</option>
                  <option value="VAIKOM">VAIKOM</option>
                  <option value="VAIRAG">VAIRAG</option>
                  <option value="VAISHALI">VAISHALI</option>
                  <option value="VAJRESHWARI">VAJRESHWARI</option>
                  <option value="VALANCHERRY">VALANCHERRY</option>
                  <option value="VALAVANNUR">VALAVANNUR</option>
                  <option value="VALAYAPCHIRANGARA">VALAYAPCHIRANGARA</option>
                  <option value="VALIA">VALIA</option>
                  <option value="VALLABH VIDYANAGAR">VALLABH VIDYANAGAR</option>
                  <option value="VALOD">VALOD</option>
                  <option value="VARANASHI">VARANASHI</option>
                  <option value="VARANASI">VARANASI</option>
                  <option value="VIDYANAGAR">VIDYANAGAR</option>
                  <option value="VIGINIGIRI">VIGINIGIRI</option>
                  <option value="VIJAPUR">VIJAPUR</option>
                  <option value="VIJAYANAGAR">VIJAYANAGAR</option>
                  <option value="VIJAYAWADA">VIJAYAWADA</option>
                  <option value="VIKARABAD">VIKARABAD</option>
                  <option value="VILAKUDDY">VILAKUDDY</option>
                  <option value="VILLUPURAM">VILLUPURAM</option>
                  <option value="VINDHYA NAGAR">VINDHYA NAGAR</option>
                  <option value="VINJAMUR">VINJAMUR</option>
                  <option value="VINUKONDA">VINUKONDA</option>
                  <option value="VIRAJPET">VIRAJPET</option>
                  <option value="VIRAMGAM">VIRAMGAM</option>
                  <option value="VIRUDHUNAGAR">VIRUDHUNAGAR</option>
                  <option value="VISAD">VISAD</option>
                  <option value="VISAKHAPATNAM">VISAKHAPATNAM</option>
                  <option value="VISANAGAR">VISANAGAR</option>
                  <option value="VISAVADAR">VISAVADAR</option>
                  <option value="VITA">VITA</option>
                  <option value="VIZIANAGARAM">VIZIANAGARAM</option>
                  <option value="VRINDAVAN">VRINDAVAN</option>
                  <option value="VUYYUR">VUYYUR</option>
                  <option value="VYARA">VYARA</option>
                  <option value="W">W</option>
                  <option value="WADAKKANCHERRY">WADAKKANCHERRY</option>
                  <option value="WADHAWAN">WADHAWAN</option>
                  <option value="WADI">WADI</option>
                  <option value="WADRAFNAGAR">WADRAFNAGAR</option>
                  <option value="WAI">WAI</option>
                  <option value="WALGAON">WALGAON</option>
                  <option value="WANADONGRI">WANADONGRI</option>
                  <option value="WANAPARTHY">WANAPARTHY</option>
                  <option value="WANGJING">WANGJING</option>
                  <option value="WANI">WANI</option>
                  <option value="WARANANAGAR">WARANANAGAR</option>
                  <option value="WARANGAL">WARANGAL</option>
                  <option value="WARDHA">WARDHA</option>
                  <option value="WARORA">WARORA</option>
                  <option value="WARSHALIGANJ">WARSHALIGANJ</option>
                  <option value="WARUD">WARUD</option>
                  <option value="WARWATBAKAL">WARWATBAKAL</option>
                  <option value="WASHI">WASHI</option>
                  <option value="WASHIM">WASHIM</option>
                  <option value="WAYANAD">WAYANAD</option>
                  <option value="WOKHA">WOKHA</option>
                  <option value="WONPARTHY">WONPARTHY</option>
                  <option value="WYRA">WYRA</option>
                  <option value="Y N KOSKOTE">Y N KOSKOTE</option>
                  <option value="YADAGIRIGUTTA">YADAGIRIGUTTA</option>
                  <option value="YADGIR">YADGIR</option>
                  <option value="YADIKI">YADIKI</option>
                  <option value="YALLUR">YALLUR</option>
                  <option value="YAMUNANAGAR">YAMUNANAGAR</option>
                  <option value="YANAM">YANAM</option>
                  <option value="YAVATMAL">YAVATMAL</option>
                  <option value="YELANDUR">YELANDUR</option>
                  <option value="YELBRUGA">YELBRUGA</option>
                  <option value="YELLANDU">YELLANDU</option>
                  <option value="YELLMANCHILI">YELLMANCHILI</option>
                  <option value="YEODA">YEODA</option>
                  <option value="YEOLA">YEOLA</option>
                  <option value="YEOTMAL">YEOTMAL</option>
                  <option value="YERCAUD">YERCAUD</option>
                  <option value="ZAHEERABAD">ZAHEERABAD</option>
                  <option value="ZALOD">ZALOD</option>
                  <option value="ZILIYA TA CHANSAMA">ZILIYA TA CHANSAMA</option>
                  <option value="ZUARINAGAR">ZUARINAGAR</option>
                  <option value="ZUNHEBOTO">ZUNHEBOTO</option>

                </select>
              </div>
              <div class="formelement">
                <p>Pin Code:</p>
                <input type="text" name="pin_code">
              </div>
              <div class="formelement">
                <p>Address:</p>
                <textarea rows="4" name="address"></textarea>
              </div>
              <div class="formelement">
                <p>Phone No:</p>
                <input type="number" name="phone">
              </div>
              <div class="formelement">
                <p>Email ID:</p>
                <input type="email" name="email">
              </div>
              <div class="formelement">
                <p>Occupation:</p>
                <select id="occupation" name="Occupation"></select>
              </div>
              <div class="formelement membertype">
                <p>Member Type:</p>
                <select id="membertype" name="member_type"></select>
                <!-- <a class="membertypeanchor">What's Member Type?</a> -->
              </div>
              <div class="formelement">
                <p>Password:</p>
                <input type="password" name="password">
              </div>
              <div class="formelement">
                <p>Confirm Password:</p>
                <input type="password" name="cpassword">
              </div>
              <div class="formelement">
                <input type="checkbox" class="termscheckbox" name="agreebox"/>
                <p>Yes I Agree to the <a>Terms and Condition</a></p>
              </div>
              <span style="color: red;" id="errtext">
              </span>
              <div class="formelementbutton">
                <button class="refreshbtn" type="submit">Submit</button>
                <button class="refreshbtn" type="reset">Reset</button>

              </div>
          </form>
        </div>
      </div>
  </div>
</body>
<script>
  const storedUser = JSON.parse(localStorage.getItem('user'));
  const hightlighttext = document.getElementById("hightlighttext");
  hightlighttext.textContent = storedUser?.name
  const pin = document.getElementById("pin");
  pin.textContent = storedUser?.point_balance

  const day = Array.from({ length: 31 }, (_, i) => i + 1);
  const month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
  const years = Array.from({ length: 82 }, (v, i) => i + 1925).sort((a, b) => b - a);
  const membertypeArray = ["A"];
  const occupation = ["Accounting", "Bhima", "Business", "Boss", "BuisnessMan", "Buss", "Cabel Operator", "College", "Computer Engineer", "Computer Teacher", "Computer Networking", "Computer-Software", "Cyber", "Engineer", "Finance", "Fishing", "Gambling", "Garment", "H.s.c", "Hardware Engg", "House Wife", "Labour", "LPYI", "Manager", "None", "Other", "Sales Executive", "Sales/Marketing", "School", "SDF", "Service", "Shop", "Shop Owner", "STU", "Student", "Study", "Studying"]

  const dayid = document.getElementById("dayoption");
  const monthid = document.getElementById("monthoption");
  const yearid = document.getElementById("yearoption");
  const occupationid = document.getElementById("occupation");
  const membertypeid = document.getElementById("membertype");


  for (var i = 0; i < membertypeArray.length; i++) {
    let option = document.createElement("option");
    option.text = membertypeArray[i];
    option.value = membertypeArray[i];
    membertypeid.appendChild(option);
  }
  for (var i = 0; i < occupation.length; i++) {
    let option = document.createElement("option");
    option.text = occupation[i];
    option.value = occupation[i];
    occupationid.appendChild(option);
  }
  for (var i = 0; i < day.length; i++) {
    let option = document.createElement("option");
    option.text = day[i];
    option.value = day[i];
    dayid.appendChild(option);
  }
  for (var i = 0; i < month.length; i++) {
    let option = document.createElement("option");
    option.text = month[i];
    option.value = month[i];
    monthid.appendChild(option);
  }
  for (var i = 0; i < years.length; i++) {
    let option = document.createElement("option");
    option.text = years[i];
    option.value = years[i];
    yearid.appendChild(option);
  }        
</script>

</html>
<!-- JAVASCRIPT -->
<script src="/libs/jquery/jquery.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/libs/metismenu/metisMenu.min.js"></script>
<script src="/libs/simplebar/simplebar.min.js"></script>
<script src="/libs/node-waves/waves.min.js"></script>
<script src="/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

<!--Morris Chart-->
<script src="/libs/morris.js/morris.min.js"></script>
<script src="/libs/raphael/raphael.min.js"></script>

<script src="/js/pages/dashboard.init.js"></script>

<!-- App js -->
<script src="/js/app.js"></script>
<script>
  $("#myForm").submit(function (event) {
    event.preventDefault();
    var formData = $(this).serializeArray();
    const requestData = {};
    console.log('formData: ', formData);
    let errCount = 0
    const errtxt = document.getElementById("trans-msg");
    formData.map((elem) => {
      if(!elem?.value && errCount===0){
          errtxt.textContent = `${elem.name} is required`
          errCount = 1
          // return false
        }else{
          requestData[elem.name] = elem.value;
        }
      });
      if(requestData.password !== requestData.cpassword){
        errtxt.textContent = `password and conform password should not match`
        return false
      }else if(!requestData.agreebox){
        errtxt.textContent = `Please Agree to the Terms and Condition`
    }else if(errCount===0){
      errtxt.textContent = ``
      requestData['dob'] = `${requestData.day}/${requestData.month}/${requestData.year}`;
      delete requestData.day
      delete requestData.month
      delete requestData.year
      delete requestData.agreebox
      console.log('requestData: ', requestData);
      // const accessToken = $.cookie("token");
      $.ajax({
        url: "user/create",
        method: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(requestData),
        success: (response) => {
          console.log('response: ', response);
          errtxt.textContent = response?.message;
          console.log('response?.data?.message: ', response?.message);
          setTimeout(() => {
            errtxt.textContent = '';
            count = 1
          }, 2000);
          $('#myForm')[0].reset();
        },
        error: (response) => {
          errtxt.textContent = response?.responseJSON?.message;
          setTimeout(() => {
            errtxt.textContent = '';
          }, 3000);
        }
      });

    }
  });
</script>